div > * { display: block; }

#div1
{
    display: flex;
    justify-content: center;
}

#div2 { background-color: lightblue; }

.minhadiv
{
    border-style: dotted;
    border-color: black;
    background-color: #efeff0;
    text-align: center;
}

#soft-skills > * { display: block; }

li::marker { font-size: 1.5rem; }

#header_name
{
    text-align: center;
    color: navy;
}

h2.header_quality:hover
{
    background-color: grey;
    transition: 1.5s;
}

p { font-family: Verdana; }

ol { list-style-type: upper-alpha; }